@model AppMVC.Net.Models.Product.ProductModel

@{
    ViewData["Title"] = "Xóa sản phẩm";
}

<h1>@ViewData["Title"]</h1>

<p>Xóa khum?</p>
<h4>@Model.Title</h4>
<div>
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách sản phẩm</a>
    </form>
</div>
