@model ProductModel
@{
    var product = ViewData["product"] as ProductModel;
}
<p>@ViewData["Title"]</p>

<div class="card bg-primary text-white">
    <h1 class="card-header">Hello Mother Fucker!!! @product.Name</h1>
    <div class="card-body">
        <p class="card-text">
        Giá: @product.Price
    </p>
    </div>
</div> 