@model string

@{
    Layout = "_Layout";
    
}


<div class="card bg-primary text-white">
    <h1 class="card-header">Hello Mother Fucker!!! @Model</h1>
    <div class="card-body">
        <p class="card-text">
        Hack con beep mày giờ!
    </p>
    </div>
</div>
@this.Path